@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body {
  background-color: #cfb6a2;
}

main {
  margin: 11% 11% 11% 11%;
}

h1 {
  font-size: 70px;
}

h1, h2, p {
  color: white;
}